<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Interactive Exhibition</title>

    <!-- Custom fonts for this theme -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">
<!-- Music Section -->
<section class="page-section portfolio" id="music">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Music</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">
            <!-- Portfolio Item 1 -->
            <div class="col-md-12 col-lg-12">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img style="margin-left: auto; margin-right: auto; display: block;" class="img-fluid"
                         src="{{ url_for('static', filename='img/portfolio/bts.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">BTS - Spring</h2>
                        </div>
                        <div class="col-md-12">
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <img class="img-fluid rounded mb-5"
                             src="{{ url_for('static', filename='img/portfolio/bts.png') }}" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <div class="mb-5">
                            <button type="button" class="btn btn-outline-primary" id="btn-play">
                                PLAY
                            </button>
                            <button type="button" class="btn btn-outline-danger" id="btn-stop">
                                STOP
                            </button>
                            <button type="button" class="btn btn-outline-dark" id="btn-live">
                                LIVE
                            </button>
                            <button type="button" class="btn btn-outline-dark" id="btn-reset">
                                RESET
                            </button>
                            <button type="button" class="btn btn-outline-dark" data-toggle="collapse"
                                    data-target="#btn_setting1">
                                SETTING
                            </button>
                        </div>
                    </div>
                    <div id="btn_setting1" class="collapse">
                        <form class="form text-center border border-light p-5" action="" id="form-bts">
                            <!-- Subject -->
                            <input type="hidden" name="title" value="bts">
                            <div class="form-group row">
                                <label for="tempo"
                                       class="col-sm-4 col-form-label col-form-label-sm">Tempo</label>
                                <div class="col-sm-8">
                                    <input type="range" class="form-control form-control-sm custom-range"
                                           min="-0.05" step="0.01"
                                           max="0.05"
                                           id="tempo"
                                           name="tempo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <p class="h5">String Instruments</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input form-control"
                                               id="sFlag" name="sFlag" value="1">
                                        <label class="custom-control-label" for="sFlag">On/Off</label>
                                    </div>
                                </div>
                                <label for="sHeight"
                                       class="col-sm-4 col-form-label col-form-label-sm">String height</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" name="sHeight" id="sHeight">
                                        <option value="" disabled>Choose option</option>
                                        <option value="12">기본음 + #</option>
                                        <option value="0" selected>기본음</option>
                                        <option value="-12">기본음 + b</option>
                                        <option value="-24">기본음 + bb</option>
                                    </select>
                                </div>
                                <label for="sPosition"
                                       class="col-sm-4 col-form-label col-form-label-sm">Sound position</label>
                                <div class="col-sm-8">
                                    <input type="range" class="form-control form-control-sm custom-range" min="-1"
                                           max="1" step="0.25"
                                           id="sPosition"
                                           name="sPosition">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <p class="h5">Wind Instruments</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input form-control"
                                               id="wFlag" name="wFlag" value="1">
                                        <label class="custom-control-label" for="wFlag">On/Off</label>
                                    </div>
                                </div>
                                <label for="wHeight"
                                       class="col-sm-4 col-form-label col-form-label-sm">Wind height</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" name="wHeight" id="wHeight">
                                        <option value="" disabled>Choose option</option>
                                        <option value="12">기본음 + #</option>
                                        <option value="0" selected>기본음</option>
                                        <option value="-12">기본음 + b</option>
                                        <option value="-24">기본음 + bb</option>
                                    </select>
                                </div>
                                <label for="wPosition"
                                       class="col-sm-4 col-form-label col-form-label-sm">Sound position</label>
                                <div class="col-sm-8">
                                    <input type="range" class="form-control form-control-sm custom-range" min="-1"
                                           max="1" step="0.25"
                                           id="wPosition"
                                           name="wPosition">
                                </div>
                            </div>

                            <!-- Send button -->
                            <button class="btn btn-outline-info" type="button" id="btn-apply">apply</button>
                            <button class="btn btn-outline-dark" type="reset">reset</button>
                        </form>
                        <!-- Default form contact -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
<script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>

<!-- Page level scripts -->
<script>
    $("#btn-play").click(function (e) {
        $.ajax({
            url: '/music/play',
            type: 'POST',
            data: $('#form-bts').serialize(),
            success: function (data) {
                console.log(data)
            }
        });
    });

    $("#btn-stop").click(function (e) {
        $.ajax({
            url: '/music/stop',
            type: 'GET',
            success: function (data) {
                console.log(data)
            }
        });
    });

    $("#btn-live").click(function (e) {
        $.ajax({
            url: '/music/live',
            type: 'GET',
            success: function (data) {
                console.log(data)
            }
        });
    });

    $("#btn-reset").click(function (e) {
        $.ajax({
            url: '/music/reset',
            type: 'GET',
            success: function (data) {
                console.log(data)
            }
        });
    });

    $("#btn-apply").click(function (e) {
        $.ajax({
            url: '/music/setting',
            type: 'POST',
            data: $('#form-bts').serialize(),
            success: function (data) {
                console.log(data)
            }
        });
    });
</script>


</body>

</html>
